@import "ember-cli-bootstrap-4/bootstrap";

$color-list:  (
    green: #61bd4f,
    yellow: #f2d600,
    orange: #ff9f1a,
    red: #eb5a46,
    purple: #c377e0,
    blue: #0079bf,
    sky: #00c2e0,
    lime: #51e898,
    pink: #ff78cb,
    black: #355263,
    null: #b3bec4
  );


@each $name, $color in $color-list {
    .input-group-#{$name} > input, 
    .input-group-#{$name} > .input-group-prepend > .input-group-text {
        color: white !important;
        background-color: $color !important;
        border-color:  $color !important;
    }
    span.badge.badge-own-#{$name} {
        background-color:$color;
        color: white;
    }
}

.input-group > input {
    font-family: monospace;
    text-shadow: 0px 0px 2px #00000078;
}