<div class="container">
    <h2>About this page</h2>
    <p>Created by <a href="https://machigatta.com">Machigatta</a>.</p>
    <p>This page was created to pick random cards out of a Trello-Board or Trello-Column.</p>
    {{outlet}}
</div>